<p>
  <strong>タイトル：</strong>
  <%= @cartoon.title %>
</p>

<p>
  <strong>著者：</strong>
  <%= @cartoon.author %>
</p>

<p>
  <strong>説明：</strong>
  <%= @cartoon.description %>
</p>

<%= link_to 'Back', '/' %>